body
{
    background-color: rgb(48,48,48);
}

h1, h2, form
{
    text-align: center;
}

h1, h2, p, label, td
{
    color: white;
}

table, form, p
{
    width: 65%;
    margin: 0 auto;
}

table, td, p
{
    border: 2px solid silver;
}

td, p
{
    padding: 1em;
    background-color: #404040;
}

input, p
{
    display: block;
    margin: 0 auto;
}
